In [1]:
import pandas as pd

### Criação de dataframe

In [16]:
dict_medidas = {
        'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
        'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176],
}

In [17]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [18]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [19]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

### Medidas de posição

In [20]:
# media da idade
df_medidas["idade"].mean()

np.float64(41.77777777777778)

In [21]:
# mediana da idade
df_medidas['idade'].median()

np.float64(40.0)

In [22]:
# moda da idade
df_medidas['idade'].mode()

0    25
Name: idade, dtype: int64

In [23]:
# Moda da altura
df_medidas['altura'].mode()

0    174
Name: altura, dtype: int64

### Medidas de dispersão

In [24]:
# Variância
df_medidas.idade.var()

np.float64(509.94444444444446)

In [25]:
# Desvio padrão
df_medidas.idade.std()

np.float64(22.58194952709895)

In [ ]:
# Coeficiente de Variação - Idade
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(54.05253876167302)

In [27]:
# Coeficiente de Variação - Altura
df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(3.4803552812368785)

### Medidas de Forma

In [ ]:
# Assimetria - Idade
# A cauda direita é mais longa
df_medidas.idade.skew()

np.float64(0.368108517895537)

In [ ]:
# Assimetria - Altura
# A cauda esquerda é mais longa
df_medidas.altura.skew()

np.float64(-0.598486996170113)

In [ ]:
# Curtose - Idade
# A distribuição dessa amostra de idades tem uma cauda mais curta e achatada que a distribuição normal
df_medidas.idade.kurtosis()

np.float64(-1.1344461075421046)

In [31]:
# Curtose - Altura
df_medidas.altura.kurtosis()

np.float64(-1.3372641199913002)

In [32]:
# Obter medidas estastísticas
df_medidas.idade.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64